.header {
    bockground:#f5f5f5;

}

.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding:  10px 15px;    
}

h2 {
    color: #8B7969;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}