.contact-form__content {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    color: #8B7969;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

table th, td {
    border: solid 1px #E0DFDF;
    margin: 0 20px;
    height: 30px;
    padding: 20px 20px;
    color: #BEB1A6;
    appearance: none;
}
.confirm-table__inner {
    width: 60%;
    margin: 0 auto ;
}

.confirm-table__header {
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
    background-color: #BAA899;
    color: #FFFFFF;
    width: 40%;
    height: 40px;
    padding: 20px;
}

.confirm-table__text input,
.confirm-table__textarea textarea {
    display: inline-block;
    height: 30px;
    border: none;
    color: #BEB1A6;
    appearance: none;
}


.button {
    margin: 0 auto;
    text-align: center;
}

.form__button {
    margin: 50px 10px;
    padding: 5px 20px;
    background: #8B7969;
    display:inline-block;
}

.form__button-submit {
    color: #fff;
    background: #8B7969;
}

.form__button2 {
    margin: 50px auto;
    padding: 5px 20px;
    display: inline-block
}

.form__button-return{
    appearance: none;
    text-decoration: none;
    background: #FFFFFF;
    color: #8B7969;
}